<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./h-e-a-d-e-r.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="header">
      <div class="header-child"></div>
      <b class="aquaplast1">AQUAPLAST</b>
      <b class="home3">HOME</b>
      <b class="upload9">UPLOAD</b>
      <b class="login3">LOGIN</b>
      <b class="contact3">CONTACT</b>
    </div>
  </body>
</html>
