.header-child {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(180deg, #1e0e5d 72.4%, rgba(78, 205, 197, 0));
}
.aquaplast1,
.home3 {
  position: absolute;
  top: 34.75%;
  left: 6.88%;
}
.home3 {
  left: 54.1%;
}
.upload9 {
  left: 63.82%;
  color: var(--color-gray-100);
}
.contact3,
.login3,
.upload9 {
  position: absolute;
  top: 34.75%;
}
.login3 {
  left: 75.69%;
  color: var(--color-gray-100);
}
.contact3 {
  left: 85.56%;
  color: #fbffff;
}
.header {
  position: relative;
  backdrop-filter: blur(4px);
  width: 100%;
  height: 118px;
  text-align: left;
  font-size: var(--font-size-11xl);
  color: var(--color-snow);
  font-family: var(--font-inter);
}
