<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./u-p-l-o-a-d.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="upload6">
      <img class="image-11-icon1" alt="" src="./public/image-11@2x.png" />

      <div class="upload-child"></div>
      <div class="upload-item"></div>
      <div class="upload-inner"></div>
      <div class="upload-child1"></div>
      <img class="rectangle-icon" alt="" src="./public/rectangle-33@2x.png" />

      <div class="upload-child2"></div>
      <div class="upload-child3"></div>
      <b class="upload7">UPLOAD</b>
      <b class="submit">SUBMIT</b>
      <b class="heatmap3">HEATMAP</b>
      <b class="environment3">ENVIRONMENT</b>
      <b class="prediction1">PREDICTION</b>
      <b class="back" id="bACKText">BACK</b>
    </div>

    <script>
      var bACKText = document.getElementById("bACKText");
      if (bACKText) {
        bACKText.addEventListener("click", function (e) {
          window.location.href = "./main.html";
        });
      }
      </script>
  </body>
</html>
