<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/c-o-n-t-a-c-t.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="contact2">
      <img class="image-10-icon1" alt="" src="{{ url_for('static', filename='public/image-101@2x.png') }}" />

      <b class="behind-aquaplast1">BEHIND AQUAPLAST</b>
      <div class="contact-child6"></div>
      <div class="contact-child7"></div>
      <div class="contact-child8"></div>
      <div class="contact-child9"></div>
      <img class="contact-child10" alt="" src="{{ url_for('static', filename='public/ellipse-71@2x.png') }}" />

      <img class="contact-child11" alt="" src="{{ url_for('static', filename='public/ellipse-91@2x.png') }}" />

      <img class="contact-child12" alt="" src="{{ url_for('static', filename='public/ellipse-101@2x.png') }}" />

      <img class="contact-child13" alt="" src="{{ url_for('static', filename='public/ellipse-111@2x.png') }}" />

      <b class="bhavith-p-b1">BHAVITH P B RAO</b>
      <b class="namitha-k1">NAMITHA K</b>
      <b class="samarth-agali-prasad-container1">
        <p class="samarth-agali1">SAMARTH AGALI</p>
        <p class="samarth-agali1">PRASAD</p>
      </b>
      <b class="cia-shetty1">CIA SHETTY</b>
      <div class="contact-child14"></div>
      <div class="contact-child15"></div>
      <div class="component-11">
        <img
          class="icon-instagram-alt-icon1"
          alt=""
          src="{{ url_for('static', filename='public/-icon-instagram-alt-icon.svg') }}"
        />

        <img class="icon-whatsapp1" alt="" src="{{ url_for('static', filename='public/-icon-whatsapp1.svg') }}" />

        <img
          class="icon-rounded-linkedin1"
          alt=""
          src="{{ url_for('static', filename='public/-icon-rounded-linkedin.svg') }}"
        />

        <img class="icon-email1" alt="" src="{{ url_for('static', filename='public/-icon-email.svg') }}" />

        <b class="whatsapp1">WHATSAPP</b>
      </div>
      <b class="instagram1">INSTAGRAM</b>
      <b class="linkedin1">LINKEDIN</b>
      <b class="email1">EMAIL</b>
      <b class="back2" id="bACKText">BACK</b>
    </div>

    <script>
      var bACKText = document.getElementById("bACKText");
      if (bACKText) {
        bACKText.addEventListener("click", function (e) {
          window.location.href = "./main.html";
        });
      }
      </script>
  </body>
</html>
