<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/component-5.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="component-5">
      <div class="component-21"></div>
      <img class="component-5-child" alt="" src="{{ url_for('static', filename='public/ellipse-152@2x.png') }}" />

      <img class="component-5-item" alt="" src="{{ url_for('static', filename='public/ellipse-16@2x.png') }}" />

      <img class="component-5-inner" alt="" src="{{ url_for('static', filename='public/ellipse-14@2x.png') }}" />

      <div class="component-5-child1"></div>
      <div class="component-5-child2"></div>
      <div class="environment4">ENVIRONMENT</div>
      <div class="component-5-child3"></div>
      <div class="heat-map">HEAT MAP</div>
    </div>
  </body>
</html>
