<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/desktop-1.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="desktop-1">
      <img class="image-1-icon1" alt="" src="{{ url_for('static', filename='public/image-1@2x.png') }}" />

      <div class="no-water-no-container1">
        <p class="no-water1">NO WATER.</p>
        <p class="no-water1">NO LIFE.</p>
        <p class="no-water1">NO BLUE.</p>
        <p class="no-water1">NO GREEN.</p>
      </div>
    </div>
  </body>
</html>
