
    <!DOCTYPE html>
    <html>
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Statistics on Plastic Levels</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Phudu:wght@500&family=Special+Elite&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/environment.css') }}">
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5 mb-3">Weather Forecast</h1>
            <div class="back" id="bACKText"><a href="{url_for('predict_datapoint')}"><img class="logo" src="{{ url_for('static', filename='public/AquaPlast_Logo.jpeg') }}" alt="logo"></a></div>
            <div class="row">
                <div class="col-md-6">
                    <h2>Location: Ho Chi Minh City    , VN</h2>
                    <h3>Current Weather: broken clouds</h3>
                    <p>Temperature: 27.0&deg;C</p>
                    <p>Feels like: 32.0&deg;C</p>
                    <p>Humidity: 100%</p>
                    <p>Wind Speed: 3.6 meter/sec</p>
                    <p>Cloudiness: 75 %</p>
                    <p>Sunrise Time: 05:43</p>
                    <p>Sunset Time: 18:01</p>
                </div>
            </div>
        </div>
        <h2>Weather Forecast</h2>
        <div class="div1">

    
        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
            <p>Date: 2023-09-05</p>
            <p>Max Temp: 30.3°C</p>
            <p>Min Temp: 25.6°C</p>
            <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="moderate rain">
            <p>Weather: moderate rain</p>
        </div>
        
        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
            <p>Date: 2023-09-06</p>
            <p>Max Temp: 32.3°C</p>
            <p>Min Temp: 24.8°C</p>
            <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="moderate rain">
            <p>Weather: moderate rain</p>
        </div>
        
        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
            <p>Date: 2023-09-07</p>
            <p>Max Temp: 32.1°C</p>
            <p>Min Temp: 25.1°C</p>
            <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="moderate rain">
            <p>Weather: moderate rain</p>
        </div>
        
        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
            <p>Date: 2023-09-08</p>
            <p>Max Temp: 31.2°C</p>
            <p>Min Temp: 25.3°C</p>
            <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="moderate rain">
            <p>Weather: moderate rain</p>
        </div>
        
        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
            <p>Date: 2023-09-09</p>
            <p>Max Temp: 29.8°C</p>
            <p>Min Temp: 24.2°C</p>
            <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="heavy intensity rain">
            <p>Weather: heavy intensity rain</p>
        </div>
        
        <div style="border: 1px solid #ccc; padding: 10px; margin: 10px;">
            <p>Date: 2023-09-10</p>
            <p>Max Temp: 28.7°C</p>
            <p>Min Temp: 24.1°C</p>
            <img src="https://openweathermap.org/img/wn/10d@2x.png" alt="moderate rain">
            <p>Weather: moderate rain</p>
        </div>
        </div></body></html>