<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0c3cd58a01a7b4209afc1d3d4ae9c809 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
     <div style="position: fixed;
                 bottom: 50px; left: 50px; width: 150px; height: 100px;
                 border:2px solid grey; z-index:9999; font-size:14px;
                 background-color: white;
                 ">
     &nbsp; Plastic Count Legend <br>
     &nbsp; Low Plastic: &lt; 30.0 <i style="background:green;opacity:0.7;"></i><br>
     &nbsp; High Plastic: &gt;= 30.0 <i style="background:red;opacity:0.7;"></i>
      </div>
     
    
            <div class="folium-map" id="map_0c3cd58a01a7b4209afc1d3d4ae9c809" ></div>
        
</body>
<script>
    
    
            var map_0c3cd58a01a7b4209afc1d3d4ae9c809 = L.map(
                "map_0c3cd58a01a7b4209afc1d3d4ae9c809",
                {
                    center: [10.895901666666667, 106.69410816666667],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_868ae63af228f11628a22fc2fb1693f2 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            var tile_layer_a28da5dc35690d796d7058bec39bba12 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            var tile_layer_68c3d09384df40027be02b698e1c55e5 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            var heat_map_717a72a09db3b627bd3a3266f8083d19 = L.heatLayer(
                [[10.895866666666668, 106.69370166666668, 20], [10.895878333333334, 106.693555, 24], [10.895928333333334, 106.69471833333331, 34], [10.895973333333334, 106.693735, 31], [10.895793333333334, 106.69527166666668, 27], [10.895791666666666, 106.695335, 40], [10.895963333333333, 106.69390833333334, 22], [10.895868333333333, 106.69363333333334, 20], [10.895976666666666, 106.69366166666669, 20], [10.895976666666666, 106.69356166666668, 22]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 25}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            var layer_control_30d45ff62f7c52f541aa6f2377238da6 = {
                base_layers : {
                    "openstreetmap" : tile_layer_68c3d09384df40027be02b698e1c55e5,
                    "cartodbpositron" : tile_layer_a28da5dc35690d796d7058bec39bba12,
                },
                overlays :  {
                    "macro_element_717a72a09db3b627bd3a3266f8083d19" : heat_map_717a72a09db3b627bd3a3266f8083d19,
                },
            };
            L.control.layers(
                layer_control_30d45ff62f7c52f541aa6f2377238da6.base_layers,
                layer_control_30d45ff62f7c52f541aa6f2377238da6.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
            tile_layer_a28da5dc35690d796d7058bec39bba12.remove();
            tile_layer_68c3d09384df40027be02b698e1c55e5.remove();
        
    
            var marker_a9c3419ce15e17eb54f7b60c6397b6c4 = L.marker(
                [10.895866666666668, 106.69370166666668],
                {}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            marker_a9c3419ce15e17eb54f7b60c6397b6c4.bindTooltip(
                `<div>
                     Plastic Count: 20, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_64ad9652c3cc87b438d6a398cab2e9be = L.marker(
                [10.895878333333334, 106.693555],
                {}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            marker_64ad9652c3cc87b438d6a398cab2e9be.bindTooltip(
                `<div>
                     Plastic Count: 24, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e067f6d519f6f73d127bbe5b6e3e5821 = L.marker(
                [10.895928333333334, 106.69471833333331],
                {}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            marker_e067f6d519f6f73d127bbe5b6e3e5821.bindTooltip(
                `<div>
                     Plastic Count: 34, Color: High Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5572a98fd4dd5116004ba5a194388213 = L.marker(
                [10.895973333333334, 106.693735],
                {}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            marker_5572a98fd4dd5116004ba5a194388213.bindTooltip(
                `<div>
                     Plastic Count: 31, Color: High Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_04ffddc206115301624b9d9478ea01db = L.marker(
                [10.895793333333334, 106.69527166666668],
                {}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            marker_04ffddc206115301624b9d9478ea01db.bindTooltip(
                `<div>
                     Plastic Count: 27, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_5c2ebce940306bd7324cc92dc92eef6d = L.marker(
                [10.895791666666666, 106.695335],
                {}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            marker_5c2ebce940306bd7324cc92dc92eef6d.bindTooltip(
                `<div>
                     Plastic Count: 40, Color: High Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_a48386df6dada5de38ac712837188dcc = L.marker(
                [10.895963333333333, 106.69390833333334],
                {}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            marker_a48386df6dada5de38ac712837188dcc.bindTooltip(
                `<div>
                     Plastic Count: 22, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_49a12c1f96a7fb0d9cae60e8f96201e4 = L.marker(
                [10.895868333333333, 106.69363333333334],
                {}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            marker_49a12c1f96a7fb0d9cae60e8f96201e4.bindTooltip(
                `<div>
                     Plastic Count: 20, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_d0cd01b1e2e3a6694e2d3e65d21f7f79 = L.marker(
                [10.895976666666666, 106.69366166666669],
                {}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            marker_d0cd01b1e2e3a6694e2d3e65d21f7f79.bindTooltip(
                `<div>
                     Plastic Count: 20, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_44f016005d7bb74fdefde34adeb83e2d = L.marker(
                [10.895976666666666, 106.69356166666668],
                {}
            ).addTo(map_0c3cd58a01a7b4209afc1d3d4ae9c809);
        
    
            marker_44f016005d7bb74fdefde34adeb83e2d.bindTooltip(
                `<div>
                     Plastic Count: 22, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>