<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a6113d3e7d6597aee6c0978231929665 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdn.jsdelivr.net/gh/python-visualization/folium@main/folium/templates/leaflet_heat.min.js"></script>
</head>
<body>
    
    
     <div style="position: fixed;
                 bottom: 50px; left: 50px; width: 150px; height: 100px;
                 border:2px solid grey; z-index:9999; font-size:14px;
                 background-color: white;
                 ">
     &nbsp; Plastic Count Legend <br>
     &nbsp; Low Plastic: &lt; 30.0 <i style="background:green;opacity:0.7;"></i><br>
     &nbsp; High Plastic: &gt;= 30.0 <i style="background:red;opacity:0.7;"></i>
      </div>
     
    
            <div class="folium-map" id="map_a6113d3e7d6597aee6c0978231929665" ></div>
        
</body>
<script>
    
    
            var map_a6113d3e7d6597aee6c0978231929665 = L.map(
                "map_a6113d3e7d6597aee6c0978231929665",
                {
                    center: [10.895901666666667, 106.69410816666668],
                    crs: L.CRS.EPSG3857,
                    zoom: 10,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_affb5ff5fdb9e6af117a51d25ee394cc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            var tile_layer_affd6931a688ba01703260802bd88216 = L.tileLayer(
                "https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors \u0026copy; \u003ca target=\"_blank\" href=\"http://cartodb.com/attributions\"\u003eCartoDB\u003c/a\u003e, CartoDB \u003ca target=\"_blank\" href =\"http://cartodb.com/attributions\"\u003eattributions\u003c/a\u003e", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            var tile_layer_252b050583fcacc4664592ad0532ce16 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            var heat_map_a2351ff8ebce84da5b2e8ca6619358e8 = L.heatLayer(
                [[10.895791666666666, 106.695335, 40], [10.895963333333333, 106.69390833333334, 22], [10.895878333333334, 106.693555, 24], [10.895793333333334, 106.69527166666668, 27], [10.895868333333333, 106.69363333333334, 20], [10.895973333333334, 106.693735, 31], [10.895928333333334, 106.69471833333331, 34], [10.895976666666666, 106.69356166666668, 22], [10.895866666666668, 106.69370166666668, 20], [10.895976666666666, 106.69366166666669, 20]],
                {"blur": 15, "maxZoom": 18, "minOpacity": 0.5, "radius": 25}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            var layer_control_5880fc7768e882ff602ddb3aa3a80b25 = {
                base_layers : {
                    "openstreetmap" : tile_layer_252b050583fcacc4664592ad0532ce16,
                    "cartodbpositron" : tile_layer_affd6931a688ba01703260802bd88216,
                },
                overlays :  {
                    "macro_element_a2351ff8ebce84da5b2e8ca6619358e8" : heat_map_a2351ff8ebce84da5b2e8ca6619358e8,
                },
            };
            L.control.layers(
                layer_control_5880fc7768e882ff602ddb3aa3a80b25.base_layers,
                layer_control_5880fc7768e882ff602ddb3aa3a80b25.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
            tile_layer_affd6931a688ba01703260802bd88216.remove();
            tile_layer_252b050583fcacc4664592ad0532ce16.remove();
        
    
            var marker_b9ec085879f1b48056f9aaebf0686cee = L.marker(
                [10.895791666666666, 106.695335],
                {}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            marker_b9ec085879f1b48056f9aaebf0686cee.bindTooltip(
                `<div>
                     Plastic Count: 40, Color: High Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8d167ad2fcf25cba65166a56296832f4 = L.marker(
                [10.895963333333333, 106.69390833333334],
                {}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            marker_8d167ad2fcf25cba65166a56296832f4.bindTooltip(
                `<div>
                     Plastic Count: 22, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f095635d860ee71395cc9bed8104c7b9 = L.marker(
                [10.895878333333334, 106.693555],
                {}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            marker_f095635d860ee71395cc9bed8104c7b9.bindTooltip(
                `<div>
                     Plastic Count: 24, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3d5c715ee15b76065370d2030129e466 = L.marker(
                [10.895793333333334, 106.69527166666668],
                {}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            marker_3d5c715ee15b76065370d2030129e466.bindTooltip(
                `<div>
                     Plastic Count: 27, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_3bcd6e122f123801cc4fbe3a1480d948 = L.marker(
                [10.895868333333333, 106.69363333333334],
                {}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            marker_3bcd6e122f123801cc4fbe3a1480d948.bindTooltip(
                `<div>
                     Plastic Count: 20, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_ba683ccb0fc60fa6e6be6e897b81100f = L.marker(
                [10.895973333333334, 106.693735],
                {}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            marker_ba683ccb0fc60fa6e6be6e897b81100f.bindTooltip(
                `<div>
                     Plastic Count: 31, Color: High Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e56b032bb09a29b0b4fb24cb7355a5e6 = L.marker(
                [10.895928333333334, 106.69471833333331],
                {}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            marker_e56b032bb09a29b0b4fb24cb7355a5e6.bindTooltip(
                `<div>
                     Plastic Count: 34, Color: High Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_8f27b154621b3752be31db6e260d1dc2 = L.marker(
                [10.895976666666666, 106.69356166666668],
                {}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            marker_8f27b154621b3752be31db6e260d1dc2.bindTooltip(
                `<div>
                     Plastic Count: 22, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_f57174158b437e1a2f169477a7cc5b15 = L.marker(
                [10.895866666666668, 106.69370166666668],
                {}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            marker_f57174158b437e1a2f169477a7cc5b15.bindTooltip(
                `<div>
                     Plastic Count: 20, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_89d3196c2cd7d1375c74e2b66dc3cfc0 = L.marker(
                [10.895976666666666, 106.69366166666669],
                {}
            ).addTo(map_a6113d3e7d6597aee6c0978231929665);
        
    
            marker_89d3196c2cd7d1375c74e2b66dc3cfc0.bindTooltip(
                `<div>
                     Plastic Count: 20, Color: Low Plastic
                 </div>`,
                {"sticky": true}
            );
        
</script>
</html>