<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/l-o-g-i-n.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="login1">
      <img class="image-9-icon1" alt="" src="{{ url_for('static', filename='./public/image-9@2x.png') }}" />

      <div class="login-child"></div>
      <div class="login-item"></div>
      <div class="login-inner"></div>
      <b class="username1">USERNAME</b>
      <b class="password1">PASSWORD</b>
      <b class="dont-have-an" id="dONTHAVEAN"
        >DON’T HAVE AN ACCOUNT ? SIGN UP</b
      >
      <b class="back4" id="bACKText">BACK</b>
      <b class="login2">LOGIN</b>
    </div>

    <script>
      var dONTHAVEAN = document.getElementById("dONTHAVEAN");
      if (dONTHAVEAN) {
        dONTHAVEAN.addEventListener("click", function (e) {
          window.location.href = "./s-i-g-n-u-p.html";
        });
      }
      
      var bACKText = document.getElementById("bACKText");
      if (bACKText) {
        bACKText.addEventListener("click", function (e) {
          window.location.href = "./main.html";
        });
      }
      </script>
  </body>
</html>
