<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
</head>
<body>
  <div class="main">
    <main class="landing">
      <img class="image-1-icon" alt="" src="{{ url_for('static', filename='public/image-1@2x.png') }}" />

      <div class="no-water-no-container">
        <p class="no-water">NO WATER.</p>
        <p class="no-water">NO LIFE.</p>
        <p class="no-water">NO BLUE.</p>
        <p class="no-water">NO GREEN.</p>
      </div>
    </main>
    <main class="home">
      <div class="logo">
        <img
          class="fd0e533-6b0e-4432-a0a7-40c546b-icon"
          alt=""
          src="{{ url_for('static', filename='public/4fd0e5336b0e4432a0a740c546b3ec9e-1@2x.png') }}"
        />
      </div>
      <div class="flow">
        <img class="flow-child" alt="" src="{{ url_for('static', filename='public/ellipse-131@2x.png') }}" />
        <img class="flow-item" alt="" src="{{ url_for('static', filename='public/ellipse-151@2x.png') }}" />
        <img class="flow-inner" alt="" src="{{ url_for('static', filename='public/ellipse-17@2x.png') }}" />
        <img class="ellipse-icon" alt="" src="{{ url_for('static', filename='public/ellipse-171@2x.png') }}" />

        <div class="upload-section">
          <div class="upload4">UPLOAD</div>
          <div class="heatmap2">HEATMAP</div>
          <div class="prediction">PREDICTION</div>
          <div class="environment2">ENVIRONMENT</div>
          <img class="flow-child1" alt="" src="{{ url_for('static', filename='public/arrow-4.svg') }}" />
          <img class="flow-child1" alt="" src="{{ url_for('static', filename='public/image-11@2x.png') }}" />
          <img class="flow-child2" alt="" src="{{ url_for('static', filename='public/rectangle-33@2x.png') }}" />
          <img class="flow-child3" alt="" src="{{ url_for('static', filename='public/arrow-6.svg') }}" />
        </div>


        

      </div>
    </main>
    <footer class="contact">
      <img class="image-10-icon" alt="" src="{{ url_for('static', filename='public/image-10@2x.png')}}" />

      <div class="behind-aquaplast-wrapper">
        <b class="behind-aquaplast">BEHIND AQUAPLAST</b>
      </div>
      <div class="contact-child"></div>
      <div class="contact-item"></div>
      <div class="contact-inner"></div>
      <div class="ellipse-div"></div>
      <img class="contact-child1" alt="" src="{{ url_for('static', filename='public/ellipse-7@2x.png')}}" />

      <img class="contact-child2" alt="" src="{{ url_for('static', filename='public/ellipse-9@2x.png')}}" />

      <img class="contact-child3" alt="" src="{{ url_for('static', filename='public/ellipse-10@2x.png')}}" />

      <img class="contact-child4" alt="" src="{{ url_for('static', filename='public/ellipse-11@2x.png')}}" />

      <b class="bhavith-p-b">BHAVITH P B RAO</b>
      <b class="namitha-k">NAMITHA K</b>
      <b class="samarth-agali-prasad-container">
        <p class="no-water">SAMARTH AGALI</p>
        <p class="no-water">PRASAD</p>
      </b>
      <b class="cia-shetty">CIA SHETTY</b>
      <div class="contact-child5"></div>
      <div class="component-1">
        <img
          class="icon-instagram-alt-icon"
          alt=""
          src="{{ url_for('static', filename='public/-icon-instagram-alt-icon.svg')}}"
        />

        <img class="icon-whatsapp" alt="" src="{{ url_for('static', filename='public/-icon-whatsapp.svg')}}" />

        <img
          class="icon-rounded-linkedin"
          alt=""
          src="{{ url_for('static', filename='public/-icon-rounded-linkedin.svg')}}"
        />

        <img class="icon-email" alt="" src="{{ url_for('static', filename='public/-icon-email.svg')}}" />

        <b class="whatsapp">WHATSAPP</b>
      </div>
      <b class="instagram">INSTAGRAM</b>
      <b class="linkedin">LINKEDIN</b>
      <b class="email">EMAIL</b>
    </footer>
    <div class="aquaplast-parent">
      <b class="aquaplast"><a href="main.html">AQUAPLAST</a></b>
      <div class="home-parent">
        <b class="login"><a href="main.html">HOME</a> </b>
        <b class="login"><a href="l-o-g-i-n.html">LOGIN</a></b>
        <b class="login"><a href="c-o-n-t-a-c-t.html">CONTACT</a></b>
        <b class="login"><a href="u-p-l-o-a-d.html">UPLOAD</a></b>
      </div>
    </div>
  </div>
  
</body>
</html>
