<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predict Output</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/predict-output.css') }}">
</head>
<body>
    <div class="title"><h1>Predicted Output</h1></div>
    <b class="back" id="bACKText"><a href="upload">BACK</a></b>
    <div class="img-output">
        <img src="{{ url_for('static', filename='public/graphs.png') }}" alt="Predicted Output">
    </div>
</body>
</html>