<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/s-i-g-n-u-p.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="signup">
      <img class="image-9-icon" alt="" src="{{ url_for('static', filename='public/image-9@2x.png') }}" />

      <div class="signup-child"></div>
      <b class="sign-up">SIGN UP</b>
      <div class="signup-item"></div>
      <div class="signup-inner"></div>
      <img class="signup-child1" alt="" src="{{ url_for('static', filename='public/rectangle-16.svg') }}" />

      <b class="username">USERNAME</b>
      <b class="password">PASSWORD</b>
      <b class="renter-password">RENTER PASSWORD</b>
      <b class="back3" id="bACKText">BACK</b>
    </div>

    <script>
      var bACKText = document.getElementById("bACKText");
      if (bACKText) {
        bACKText.addEventListener("click", function (e) {
          window.location.href = "./main.html";
        });
      }
      </script>
  </body>
</html>
