<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/global.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/u-p-l-o-a-d.css') }}">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inknut Antiqua:wght@700;800&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Lalezar:wght@400&display=swap"
    />
  </head>
  <body>
    <div class="upload6">
      <img class="image-11-icon1" alt="" src="{{ url_for('static', filename='public/rectangle-33@2x.png') }}"> />

      <div class="upload-child"></div>
      <div class="upload-item"></div>
      <div class="upload-inner"></div>
      <div class="upload-child1"></div>
      <img class="rectangle-icon" alt="" src="{{ url_for('static', filename='public/rectangle-33@2x.png') }}" />

      <div class="upload-child2"></div>
      <div class="upload-child3"></div>
      <!-- <b class="upload7">UPLOAD_UPLOAD</b> -->
      <form action="/" method="post">
        <input class="upload7" type="file" name="Upload" id="upload">
        <input class="submit" type="submit" name="Submit" id="submit">
        <b class="back" id="bACKText">BACK</b>
      </form>
      <button class="heatmap3" type="submit">HeatMap</button>
      <button class="environment3" type="submit">Environment</button>
      <a href="predict-output.html"><button class="prediction1" type="submit">Prediction</button></a>
      
    </div>

    <script>
      var bACKText = document.getElementById("bACKText");
      if (bACKText) {
        bACKText.addEventListener("click", function (e) {
          window.location.href = "./main.html";
        });
      }
      </script>
  </body>
</html>
