
    <!DOCTYPE html>
    <html>
    <head>
        <title>Weather Forecast</title>
        <!-- Include Bootstrap CSS -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <h1 class="mt-5 mb-3">Weather Forecast</h1>
            <div class="row">
                <div class="col-md-6">
                    <h2>Location: Ho Chi Minh City    , VN</h2>
                    <h3>Weather: few clouds</h3>
                    <p>Temperature: 27.0&deg;C</p>
                    <p>Feels like: 32.0&deg;C</p>
                    <p>Humidity: 100%</p>
                    <p>Wind Speed: 4.12 meter/sec</p>
                    <p>Cloudiness: 20 %</p>
                    <p>Sunrise Time: 05:42</p>
                    <p>Sunset Time: 18:16</p>
                </div>
            </div>
        </div>
    </body>
    </html>
    