body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-inknut-antiqua: "Inknut Antiqua";
  --font-inter: Inter;
  --font-lalezar: Lalezar;

  /* font sizes */
  --font-size-11xl: 30px;
  --font-size-6xl: 25px;
  --font-size-31xl: 50px;
  --font-size-xl: 20px;

  /* Colors */
  --color-gray-100: #fffefe;
  --color-gray-200: #fbfffd;
  --color-gray-300: #1e1b1b;
  --color-gray-400: #111212;
  --color-gray-500: #111010;
  --color-gray-600: rgba(252, 252, 252, 0.43);
  --color-gainsboro-100: #d9d9d9;
  --color-gainsboro-200: rgba(217, 217, 217, 0.51);
  --color-teal-100: #01646c;
  --color-teal-200: rgba(1, 100, 107, 0.67);
  --color-white: #fff;
  --color-dimgray: #66524a;
  --color-rosybrown: #a28c84;
  --color-darkgray: rgba(151, 149, 135, 0.7);
  --color-darkslategray: #0f3d50;
  --color-black: #000;
  --color-whitesmoke-100: #f5f5f5;
  --color-whitesmoke-200: rgba(245, 245, 245, 0.43);
  --color-darkcyan: #008b8e;
  --color-snow: #fffcfc;

  /* Gaps */
  --gap-3xs: 10px;

  /* Paddings */
  --padding-4xl: 23px;
  --padding-53xl: 72px;
  --padding-lgi: 19px;
  --padding-44xl: 63px;

  /* border radiuses */
  --br-31xl: 50px;
  --br-3xs: 10px;
}
