@keyframes shadow-inset-center {
  0% {
    box-shadow: inset 0 0 0 0 transparent;
  }
  to {
    box-shadow: inset 0 0 14px 0 rgb(0 0 0/50%);
  }
}
.image-11-icon {
  position: relative;
  width: 1485px;
  height: 1024px;
  object-fit: cover;
  z-index: 0;
}
.frame-child {
  align-self: stretch;
  flex: 1;
  position: relative;
  background-color: var(--color-darkgray);
  border: 15px solid var(--color-darkslategray);
}
.desktop-6-child,
.desktop-6-inner {
  position: absolute;
  margin: 0 !important;
}
.desktop-6-inner {
  top: 108px;
  left: 153px;
  width: 1160px;
  height: 548px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 1;
}
.desktop-6-child {
  top: 190px;
  left: 215px;
  width: 579px;
  height: 384px;
  object-fit: cover;
  z-index: 2;
}
.upload2 {
  position: relative;
  font-size: var(--font-size-11xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-gainsboro-100);
  text-align: left;
  width: 124px;
  flex-shrink: 0;
}
.upload-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-31xl);
  background-color: var(--color-dimgray);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: var(--padding-lgi) var(--padding-44xl);
  align-items: center;
  justify-content: center;
}
.upload-wrapper:hover {
  background-color: var(--color-rosybrown);
}
.button,
.button1 {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  margin: 0 !important;
  top: 279px;
  left: 879px;
  width: 251px;
  height: 75px;
  z-index: 3;
}
.button1 {
  top: 474px;
  z-index: 4;
}
.heatmap1 {
  flex: 1;
  position: relative;
  font-size: var(--font-size-11xl);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
}
.environment,
.heatmap,
.predict {
  cursor: pointer;
  border: 0;
  padding: var(--padding-4xl) var(--padding-53xl);
  background-color: var(--color-teal-100);
  margin: 0 !important;
  position: absolute;
  top: 789px;
  left: 153px;
  border-radius: var(--br-31xl);
  width: 294px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.environment:hover,
.heatmap:hover,
.predict:hover {
  background-color: var(--color-teal-200);
  animation: 1s ease 0s 1 normal none shadow-inset-center;
  opacity: 1;
}
.environment,
.predict {
  left: 549px;
  z-index: 6;
}
.environment {
  left: 927px;
  width: 386px;
  z-index: 7;
}
.desktop-6,
.upload1 {
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.desktop-6 {
  background-color: var(--color-gray-500);
  width: 1440px;
  height: 1024px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  gap: var(--gap-3xs);
}
.upload1 {
  width: 100%;
  flex-direction: row;
}
